<?xml version="1.0"?>
<robot name="trex" xmlns:xacro="http://www.ros.org/wiki/xacro">

<material name="trex_blue"><color rgba="0.0 0.0 0.8 1.0"/></material >
<material name="trex_green"><color rgba="0.0 0.8 0.0 1.0"/></material >
<material name="trex_grey"><color rgba="0.2 0.2 0.2 1.0"/></material >
<material name="trex_orange"><color rgba="${255/255} ${108/255} ${10/255} 1.0"/></material>
<material name="trex_red"><color rgba="0.8 0.0 0.0 1.0"/></material>
<material name="trex_white"><color rgba="1.0 1.0 1.0 1.0"/></material>
<material name="trex_dark_grey"><color rgba="0.2 0.2 0.2 1.0" /></material>
<material name="trex_light_grey"><color rgba="0.4 0.4 0.4 1.0" /></material>
<material name="trex_black"><color rgba="0.15 0.15 0.15 1.0" /></material>

</robot>
