<?xml version="1.0"?>
<robot name="gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">     
        <xacro:include filename="$(find gripper_description)/urdf/gripper.urdf.xacro" />
        <xacro:gripper_spawn prefix="ur5_arm_gripper_"/>
          <!--joint name="base_to_arm" type="fixed">
            <parent link="ur5_arm_wrist_3_link"/>
            <child link="ur5_arm_gripper_base_link"/>
            <origin xyz="0 0.09 0" rpy="0 0 0"/>
          </joint-->
</robot>
