<?xml version="1.0"?>
<launch>
  <arg name="bagName" value="/ugv/home/param_study/baseline.bag"/>
  <node pkg="rosbag" type="play" name="player" output="screen" args="/home/ugv/param_study/box_30_n6_sensors.bag -s 0 -r 0.1"> 
    <remap from="/tf" to="/tf_old"/>
  </node>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find trex_description)/urdf/trex.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <param name="laser_scan_matcher_node/do_compute_covariance" value="1"/>
  <param name="laser_scan_matcher_node/publish_pose_with_covariance" value="true"/>
  <param name="laser_scan_matcher_node/publish_pose_with_covariance_stamped" value="true"/>
  <param name="laser_scan_matcher_node/use_odom" value="false"/>
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node"
    name="laser_scan_matcher_node" output="screen">
    <param name="max_iterations" value="10"/>
    <param name="fixed_frame" value = "odom"/>
    <remap from="/pose_with_covariance_stamped" to="/jfr/robot/pos/lidar"/>
    <param name="laser_scan_matcher_node/publish_tf" value="false"/>
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" >
    <rosparam command="load" file="$(find trex_control)/config/localization_reconstruct.yaml" />
  </node>

  <node pkg="autonomy" type="findbox.py" name="findbox"/>
  <node name="color_proc" type="color_proc_sim" pkg="camera_proc" output="screen"/>
  <node pkg="autonomy" type="lidar_detect.py" name="lidar_detect"/>
  <node pkg="autonomy" type="sim_loc.py" name="simult_local" output="screen"/>

  <node pkg="autonomy" type="record_bag.sh" name="record_bag" output="screen"/>

</launch>
