<?xml version="1.0"?>
<launch>

  <arg name="world_name" default="$(find trex_gazebo)/worlds/clearpath_playpen.world"/>
  <arg name="joy_dev" default="/dev/input/js0" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
	
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find trex_description)/urdf/trex.xacro'" />

  <include file="$(find trex_gazebo)/launch/trex_spawn.launch">
    <arg name="ur5_enabled"       value="true"/>
    <arg name="velodyne_enabled"  value="false"/>
    <arg name="sick_enabled"      value="true"/>
    <arg name="kinectv2_enabled"  value="true"/>
    <arg name="mbzirc_gripper"    value="false"/>
  </include>

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="joy" type="string" value="$(arg joy_dev)"/>
  </node>

  <include file="$(find trex_ur5_moveit)/launch/trex_ur5_planning_execution.launch">
    <arg name="physical_robot" value="false"/>
  </include>
  <node name="move_arm_topic" pkg="trex_control" type="move_arm_topic.py"/>

</launch>
