<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">	    
    <arg name="world_name" default="$(find trex_gazebo)/worlds/clearpath_playpen.world"/>
    <arg name="gui" value="true"/>	  
    <arg name="use_sim_time" default="true" />
  </include>	
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find trex_description)/urdf/trex.xacro'" />

  <include file="$(find trex_gazebo)/launch/trex-spawn.launch">
    <arg name="ur5_enabled"       value="true"/>
    <arg name="velodyne_enabled"  value="false"/>
    <arg name="sick_enabled"      value="true"/>
    <arg name="kinectv2_enabled"  value="true"/>
    <arg name="mbzirc_gripper"    value="true"/>
  </include>
  <include file="$(find trex_description)/launch/move_base.launch">
    <arg name="no_static_map" value="true"/>
    <arg name="oscillation_timeout" value="0.0"/>
  </include>

    <!--rosparam command="load" file="$(find sawyer_description)/config/arm_controller_sawyer.yaml" />
    <node name="sawyer_controller_spawner" pkg="controller_manager" type="spawner" args="sawyer_controller -shutdown-timeout 3"/ -->


</launch>
